/*
 * style.css - style for SpecialPageOSE extension
 */



iframe
{
	width: 640px;
	height: 480px;
	border: none;
}

#p-logo a
{
	display: none;
}

#bodyContent
{
	width: 640px;
	margin: 0 auto;
	background-color: #eee;
}

#bodyContent h3
{
	text-align: center;
}

.serious-button
{
    background-color: #fff;
    border: 1px solid black;
}

.serious-button:hover
{
	box-shadow: 0 0 2px 1px #f00;
}

#submissions
{
	margin: 0 auto;
}

#submissions tbody tr:nth-child(odd) {
   background-color: #ccc;
}

#special-links
{
	margin: 0;
	text-align: center;
}

#special-links li
{ 
	display: inline-block;
	margin: 20px 5px 0 0;
}

#special-links li:before
{
	content: "\ \7C \ ";
}

#special-links li:first-child:before
{
	content: "";
}



/*** Rotating Gear ****/

/* keyframes for animation;  simple 0 to 360 */
@-webkit-keyframes spin 
{
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin 
{
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin 
{
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}


.gear  
{ 
	/* with animation properties */
	background: url(gear.png) 0 0 no-repeat; 
	height: 75px;
	width: 75px;
}

.animate
{
	/* webkit chrome, safari, mobile */
	-webkit-animation-name: spin; 
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-timing-function: linear;
	
	/* mozilla ff */
	-moz-animation-name: spin; 
	-moz-animation-duration: 2000ms;
	-moz-animation-iteration-count: infinite; 
	-moz-animation-timing-function: linear;
	
	/* microsoft ie */
	-ms-animation-name: spin; 
	-ms-animation-duration: 2000ms; 
	-ms-animation-iteration-count: infinite; 
	-ms-animation-timing-function: linear;
}

