/*
 * style.css - style for SpecialPageOSE extension
 */

#bodyContent
{
	font-family: ubuntu;
	padding-top: 10px;
	min-height: 650px;
}

#bodyContent h1
{
	border: none;
	font-size: 40px;
	padding: 0;
}

h2
{
	font-size: 35px;
	border: none;
	font-weight: bold;
}

h3
{
	text-align: center;
	font-size: 30px;
	padding-top: 0px;
}

h4
{
	font-size: 20px;
}

iframe#yt-iframe
{
	width: 100%;
	min-width: 480px;
	height: 480px;
	border: none;
	margin-bottom: 15px;
}

/* View css */
#watch-area
{
	width: 14%;
	float:left;
}

#playlist-container
{
	width: 75%;
	margin: 0 auto;
}

#quote-area
{
	width: 21%;
	float: right;
	padding: 2%;
	padding-top: 0;
}

#main-area
{
	width: 60%;
	text-align: center;
	margin-left: 15%;
}

#action-links a
{
	color: #000;
	font-size: 20px;
	margin-right: 35px;
	padding-left: 3px;
}

#action-links li:last-child a
{
	margin-right: 0px;
}

#action-links a:hover
{
	text-decoration: none;
	color: blue;
}

/* End view.html Css */

/* paypal button styles */
.serious-button
{
    background-color: #fff;
    border: 1px solid black;
}

.serious-button:hover
{
	box-shadow: 0 0 2px 1px #f00;
}


/* view all page */
#submissions
{
	margin: 0 auto;
}

#submissions tbody tr:nth-child(odd) {
   background-color: #ccc;
}



/* utility css classes */
.inline-links
{
	margin: 0;
	text-align: center;
}

.inline-links li
{ 
	display: inline-block;
}

h6
{
	text-align: center;
}

ul.no-bullets li
{
	list-style: none;
}

.center50
{
	width: 50%;
	margin: 0 auto;
}

.ta-center
{
	text-align: center;
}

.inactive
{
	display: none;
}

.error-message
{
	color: #fff;
	background-color: #c00;
	font-size: 17px;
	font-weight: bold;
}

/* TODO: remove, temp dev css */

#special-links li
{
	margin: 20px 5px 0 0;
}

#special-links li:before
{
	content: "\ \7C \ ";
}

#special-links li:first-child:before
{
	content: "";
}


/* modal window styles */
#modal-overlay
{
	visibility: visible;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	background: rgba(105,105,105,.8);
	z-index: 1000;
}

#modal-directions
{
	width: 65%;
	padding: 10px;
	margin: 25px auto;
	/*border: 1px solid black;*/
	background: #fff;
	box-shadow: 0 0 10px #fff;
}

#modal-directions h1
{
	text-align: center;
	margin-top: 15px;
}

#modal-directions .form-steps li
{
	width: 180px;
}

#modal-directions .form-steps li img
{
	width: 50px;
}

#modal-directions h4
{
	font-weight: normal;
}

#close-button
{
	float: right;
	opacity: 1;
}

#close-button:hover
{
	opacity: .7;
	box-shadow: 0 0 4px #800 inset;
}

#close-button-bottom
{

}

#directions-marker
{
	float: left;
	margin-top: 3px;
	margin-left: 5%;
	width: 25px;
}

#directions-box h2
{
	font-size: 28px;
	text-align: left;
	margin: 20px 0 5px 9%;
}

#directions 
{
	text-align: left;
	margin-left: 9%;
	margin-right: 25px;
}

#directions p
{
	font-size: 16px;
	display: block;
}

#directions p:first-child
{
	margin-top: 0;
}	


/* General Form template css */
/*modal and general form*/
ul.form-steps
{
	margin-bottom: 10px;
}

.form-steps li
{
/*	width: 100px;*/
}

.form-steps li
{
	opacity: .4;
}

.form-steps li.active
{
	opacity: 1.0;
}

.form-steps li.back-line
{
	width: 50px;
	background: url("/w/extensions/ShareOSE/images/sm_stripe.png") repeat-x;
	height: 7px;
	margin-bottom: -1px;
	opacity: 1;
}

/* General Form Header */

#steps-header
{
	margin-right: 10%;
	margin-bottom: 10px;
	text-align: center;
}

#steps-header li a
{
	position: absolute;
	top: -18px;
	left: 5px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #777;
}

#steps-header li a:hover
{
	color: #000;
}

#steps-header .form-steps
{
	margin-bottom: 0;
}

#steps-header .form-steps li
{
	position: relative;
}

#steps-header .form-steps img
{
	width: 60px;
}

/* General Form Itself */
#bodyContent .mw-htmlform-submit
{
	background-color: #060;
	color: #fff;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	margin: 10px 0;
	padding: 3px 23px;
	text-align: center;
	box-shadow: 0 0 7px #999;
}

#bodyContent .mw-htmlform-submit:hover
{
	box-shadow: 0 0 12px #a00;
}

#bodyContent form
{
	text-align: center;
}

#bodyContent form div
{
	text-align: left;
}

#bodyContent form label
{
	font-size: 15px;
	margin-left: -4px;
}


#bodyContent form input, #bodyContent form textarea, .tf-button
{
	padding: 6px;
	box-shadow: 0 0 4px #777 inset;
	border: 1px solid #000;
}


/* quote-area quote for some templates */
#quote-area p
{
	background: url('/w/extensions/ShareOSE/images/quote.png') no-repeat scroll 0 0 transparent;
	font-size: 15px;
	padding-left: 7px;
	padding-top: 4px;
}

/* just the share_with_friends page */
.social-icons li
{
	width: 75px;
}

/* input modal for share form page/step */
.modal-input-overlay
{
	visibility: visible;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	background: rgba(105,105,105,.8);
	z-index: 1000;
}

.modal-input
{
	width: 35%;
	padding: 10px;
	margin: 25px auto;
	/*border: 1px solid black;*/
	background: #fff;
	box-shadow: 0 0 10px #fff;
}

#mw-form-section-social-buttons
{
	margin: 10px 0;
}

.email-input-cluster
{
	display: inline-block;
	margin-left: 5px;
}

#share-email-preview
{
	width: 30%;
	text-align: left;
}

#share-email-preview h3
{
	text-align: left;
}

#share-email-preview .preview-address
{
	display: inline-block;
	margin-left: 5px;
}

.gray
{
	opacity: .2;
	text-decoration: line-through;
}

#share-email-preview .email-preview-item:odd
{
	background-color: #aaa;
}
/*** Rotating Gear ****/

/* keyframes for animation;  simple 0 to 360 */
@-webkit-keyframes spin 
{
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin 
{
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin 
{
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}


.gear  
{ 
	/* with animation properties */
	background: url(gear.png) 0 0 no-repeat; 
	height: 75px;
	width: 75px;
}

.animate
{
	/* webkit chrome, safari, mobile */
	-webkit-animation-name: spin; 
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-timing-function: linear;
	
	/* mozilla ff */
	-moz-animation-name: spin; 
	-moz-animation-duration: 2000ms;
	-moz-animation-iteration-count: infinite; 
	-moz-animation-timing-function: linear;
	
	/* microsoft ie */
	-ms-animation-name: spin; 
	-ms-animation-duration: 2000ms; 
	-ms-animation-iteration-count: infinite; 
	-ms-animation-timing-function: linear;
}

