<div class="dev-links">
	<h6>*Development Links*</h6>
	<ul id="special-links" class="inline-links">
		<li><a href="{{BASE_URL}}?page=welcome">True Fans</a></li>
		<li><a href="{{BASE_URL}}?page=myprofile">Your Video</a></li>
		<li><a href="{{BASE_URL}}?page=submit">Submit a Video</a></li>
		<li><a href="{{BASE_URL}}?page=subscribe">Become a True Fan</a></li>
		<li><a href="{{BASE_URL}}?page=viewall">View All Submissions</a></li>
	</ul>
	<span onclick="$j('.dev-links').toggle()">Toggle Visible</span>
</div>
