<!-- edit your profile -->

<div id="steps-header">
		<h1 class="ta-center">Edit Your Information</h1>

	<div class="center50">
		<p class="status-message">{{STATUS_MESSAGE}}</p>
		<p class="error-message">{{ERROR_MESSAGE}}</p>
		{{FORM}}

		<h2 style="text-align:center">Preview</h2>
	</div>
</div>

<div id="watch-area">
</div>

<div id="quote-area">
	<h3>{{USER_NAME}}</h3>
	<p>{{USER_MESSAGE}}</p>
</div>

<div id="main-area">

	<iframe id="video-viewer" src="http://www.youtube.com/embed/{{USER_VIDEO_ID}}">Holy cats your browser doesn't support teh iframes.</iframe>


</div>
