<!-- edit your profile -->

<div id="steps-header">
	
	<div class="center50">
		<h1 class="ta-center">Edit Your Information</h1>
		{{FORM}}
		<ul class="inline-links social-icons">
			<li>
				<img src="{{PATH}}images/facebook.png"/>
			</li>
			<li id="get-involved">
				<img src="{{PATH}}images/twitter.png"/>
			</li>
			<li class="active" id="join-us">
				<img src="{{PATH}}images/email.png"/>
			</li>
		</ul>

		<h2 style="text-align:center">Preview</h2>
	</div>
</div>

<div id="watch-area">
</div>

<div id="quote-area">
	<p>{{USER_MESSAGE}}</p>
</div>

<div id="main-area">

	<iframe id="yt-iframe" src="http://www.youtube.com/embed/{{USER_VIDEO_ID}}">Holy cats your browser doesn't support teh iframes.</iframe>


</div>
