<div id="steps-header">

</div>

<div id="watch-area">

</div>

<div id="quote-area">

</div>

<div id="main-area">
	<h2 style="font-size: 100px; margin: 0; padding: 0; line-height: normal">Finish</h2>
	<p style="color:blue; font-weight: bold">Video received and messages sent.</p>
	<br />
	<p>The following is a permanent link to your video. You can post this to twitter or save it to your bookmarks.</p>
	<div>
		<div id="finish-video-link">{{USER_VIDEO_LINK}}</div>
	</div>
	<br /><br />
	<h3> Where to?</h3>
	<div id="finish-links"><a class="green-button" href="{{USER_VIDEO_LINK}}">My Video</a><a class="green-button" href="{{BASE_URL}}?page=welcome">True Fan Stories</a></div>
	<br /><br />
</div>


