<!-- step 3 -->

<div id="steps-header">
	<ul class="inline-links form-steps">
		<li id="learn-more">
			<img src="{{PATH}}images/webcam_one.png"/>
		</li><li class="back-line">
		</li><li id="get-involved">
			<img src="{{PATH}}images/pen_two.png"/>			
		</li><li class="back-line">
		</li><li class="active" id="join-us">
			<a class="info" data-target="#directions-container">Directions</a>
			<img src="{{PATH}}images/share_three.png"/>
		</li>
	</ul>
</div>

<div id="watch-area">
</div>

<div id="quote-area">
</div>

<div id="main-area">
	<p class="error-message">{{ERROR_MESSAGE}}</p>
	{{FORM}}
</div>

<div class="modal-overlay-container" id="directions-container">
	<div class="modal-overlay-pane" id="modal-directions">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<h1>How to Spread the Word</h1>
		<ul class="inline-links form-steps">
			<li>
				<img src="{{PATH}}images/webcam_one.png"/>
				<h4>Create a video</h4>
			</li>
			<li>
				<img src="{{PATH}}images/pen_two.png"/>
				<h4>Write a message</h4>
			</li>
			<li class="active">
				<img src="{{PATH}}images/share_three.png"/>
				<h4>Share</h4>
			</li>
		</ul>
		
		<p class="error-message">{{ERROR_MESSAGE}}</p>

		<div id="directions-box">
			<h2>Directions</h2>
			<img id="directions-marker" src="{{PATH}}images/share_three_35.png"/>
			<div id="directions">
				<p>Invite friends to view your video. You can post to your facebook feed, send private messages across facebook, and send email messages to contacts by clicking the appropriate checkbox.</p>
				<p>This page includes a basic message that will be sent to your contacts. You can edit this message.</p>
				<p>The text <strong>{{MY_FRIENDs_NAME}}</strong> will be replaced by the friend who receives message.</p>
				<p>The text <strong>{{MY_VIDEO_LINK}}</strong> will by replaced by the link to your video. <strong>Do not delete this text</strong>, or your contacts won't be able to find your video.</p>
			</div>
			<img src="{{PATH}}images/multifriend.png" />
		</div>
		<button id="close-button-bottom" class="modal-close-window">Close this Window</button>
	</div>
</div>

<input id="user-video-link" type="hidden" value="{{USER_VIDEO_LINK}}" />
<input id="user-name" type="hidden" value="{{USER_NAME}}" />

<!-- Auto Replace and Hidden Land - this HTML will be redirected via javascript -->

<div class="auto-replace" id="contact-holder">
	<div class="contact-tag">Contact Method</div>
	<div id="contact-type-selection">
		<div class="contact-type"><input id="facebook-feed" type="checkbox" name="facebook-feed"/><label for="facebook-feed">Post to your Facebook Feed</label></div>
		<div class="contact-type"><input id="facebook-private" type="checkbox" name="facebook-private"/><label for="facebook-private">Send Private Facebook Messages</label></div>
		<div class="contact-type"><input id="email" type="checkbox" name="email"/><label for="email">Send Email Messages</label></div>
	</div>
	<!--<div id="email-button" class="contact-tag social-icons" onclick="$j('#email-modal').css('visibility', 'visible');">
		<div class="button-hover-tag">email</div>
		<img src="{{PATH}}images/email.png" alt="email"/>
	</div>
	<div id="share-email-preview" class="contact-preview"></div>
	<div id="facebook-button" class="contact-tag social-icons">
		<div class="button-hover-tag">facebook</div>
		<img src="{{PATH}}images/facebook.png" alt="facebook"/>
	</div>
	<div id="share-facebook-preview" class="contact-preview"></div>
	-->
</div>

<div id="social-message" class="auto-replace" style="display: none">Hey {{MY_FRIENDS_NAME}},

Checkout the video I made for you and the links below as I think you'd be interested in Open Source Ecology.
{{MY_VIDEO_LINK}}
</div>

<div id="fb-root"></div>
<div id="friend-selector-holder" class="modal-overlay-container inactive">
	<br /><br /><br />
	Loading Facebook Friends...
	<button id="CancelFriendSelect" onclick="$j('#friend-selector-holder').css('visibility','hidden');">Cancel</button>
	<div id="TDFriendSelector">
		<div class="TDFriendSelector_dialog">
			<a href="#" id="TDFriendSelector_buttonClose">x</a>
			<div class="TDFriendSelector_form">
				<div class="TDFriendSelector_header">
					<p>Select your friends</p>
				</div>
				<div class="TDFriendSelector_content">
					<p>Then you can invite them to join you in the app.</p>
					<div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">
						<div class="TDFriendSelector_selectedCountContainer"><span class="TDFriendSelector_selectedCount">0</span> / <span class="TDFriendSelector_selectedCountMax">0</span> friends selected</div>
						<input type="text" placeholder="Search friends" id="TDFriendSelector_searchField" />
					</div>
					<div class="TDFriendSelector_friendsContainer"></div>
				</div>
				<div class="TDFriendSelector_footer TDFriendSelector_clearfix">
					<a href="#" id="TDFriendSelector_pagePrev" class="TDFriendSelector_disabled">Previous</a>
					<a href="#" id="TDFriendSelector_pageNext">Next</a>
					<div class="TDFriendSelector_pageNumberContainer">
						Page <span id="TDFriendSelector_pageNumber">1</span> / <span id="TDFriendSelector_pageNumberTotal">1</span>
					</div>
					<a href="#" id="TDFriendSelector_buttonOK">OK</a>
				</div>
			</div>
		</div>
	</div>
</div>

<button id="revokeAuth" type="button" onclick="uninstallApp()">Revoke/Uninstall</button>
<button id="logout" type="button" onclick="logout()">Logout</button>

<div id="email-modal" class="modal-overlay-container">
	<div id="email-list-modal" class="modal-overlay-pane">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<h3>Enter Email Addresses</h3>
		<div id="email-input-container">
			<div class="email-list-combo">
				<div class="email-input-cluster">
					<div class="mw-label">
						<label>Name</label>
					</div>
					<div class="mw-input">
						<input class="email-names" type="text" />
					</div>
				</div>
				<div class="email-input-cluster">
					<div class="mw-label">
						<label for="ose-truefan-email-input">Email</label>
					</div>
					<div class="mw-input">
						<input class="email-addresses" type="text" name="wpEmailInput[]"/>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<button id="email-list-ok" class="modal-close-window" type="button">Ok</button>
		<button class="modal-close-window negative-action" type="button">Clear</button>
	</div>
</div>

<script>
	// These two json objects take content from first selector and put it in second; see dynamic.js
	var autoReplaceArray = {
		"#contact-holder":"#mw-form-section-contact-area"
	}
	var autoInputArray = {
		"#social-message":"#ose-truefan-friends-message"
	}

	var havePostedToFeed = false;
	var havePostedPrivateMessages = false;
	
	$j(document).ready(function() {
		$j('.mw-htmlform-field-HTMLTextArray').empty();
		$j('#email-modal').appendTo('.mw-htmlform-field-HTMLTextArray');
		$j('.email-addresses').keyup(addEmailInput);
		$j('#email-modal .modal-close-window').click(function(){
			$j('input[name=wpEmailList]').val('');
			$j('#share-email-preview').empty();
		});
		$j('#email-list-ok').click(function(){
			console.log('processEmail')
			var addresses = new Array();
			// TODO: Remove empty email inputs
			//$j('.modal-overlay-container').css('visibility','hidden');
			$j('#share-email-preview').empty('');
			$j('#email-input-container .email-list-combo').each( function(index) {
				var name = $j(this).find('.email-names').val();
				var address = $j(this).find('.email-addresses').val();
				if(address != '') {
					addresses.push(name + ':<' + address + '>');
				}
			});
			$j('input[name=wpEmailList]').val(addresses.join(','));
		
			if(addresses.length > 0) {
				var html = '<ul>\n';
				for(var i=0; i<addresses.length; i++) {
					addresses[i] = addresses[i].replace('<','&lt');
					addresses[i] = addresses[i].replace('>','&gt');
					addresses[i] = addresses[i].replace(':',' ');
					html += '<li class="email-preview-item"><img src="/w/extensions/ShareOSE/images/email_sm.png" /><span class="preview-address">'+addresses[i]+'</span></li>';
				}
				$j('#share-email-preview').html(html);
			}
		});
		
		function addEmailInput(e)
		{
			// Any input that contains value creates a single new input, and pays the process forward
			if(this.value != '') {
				$j(this).unbind('keyup');
				// FIXME: for tags are incorrect
				$j('#email-input-container').append(
						'<div class="email-list-combo">'+
							'<div class="email-input-cluster">'+
								'<div class="mw-label">'+
									'<label>Name</label>'+
								'</div>'+
								'<div class="mw-input">'+
									'<input class="email-names" type="text" />'+
								'</div>'+
							'</div>'+
							'<div class="email-input-cluster">'+
								'<div class="mw-label">'+
									'<label for="ose-truefan-email-input">Email</label>'+
								'</div>'+
								'<div class="mw-input">'+
									'<input class="email-addresses" type="text" name="wpEmailInput[]"/>'+
								'</div>'+
							'</div>'+
						'</div>');
				$j('#trueFanForm .email-input-cluster input:last').keyup(addEmailInput);
			}
		}

		$j('.contact-type input').click(function(){
			if($j(this).is(':checked')){
				console.log('Input: ' + $j(this).attr('id') + ' is active.' );
				var modal = '#' + $j(this).attr('id') + '-modal';
				$j(modal).css('visibility', 'visible');
                //$j('#email-modal').css('visibility', 'visible'
				console.log(modal);
			}
		});
		
		// !! overly complicated ??
		$j('#trueFanForm').submit(function(e) {
			// do stuff and submit after fb shit is done
			if($j('#facebook-feed').is(':checked') && !havePostedToFeed){
				postToMyFeed();
				return false;	
			} else if($j('#facebook-private').is(':checked') && !havePostedPrivateMessages){
				var userLink = $j('#user-video-link').val();
				console.log(userLink);
				var userName = $j('#user-name').val();
		   		FB.ui({
		        	method: 'send',
		        	name: userName + ' - OSE True Fan Story',
		        	link: userLink,
					description: 'OSE True Fan Story',
		        }, 
				function(response){
					if (response && response.post_id){
						console.log('post was teh success');
					} else {
						console.log('did not post private messages');
					}
					havePostedPrivateMessages = true;
					$j('.mw-htmlform-submit').click(); 
				});
				return false;	
			} else {
				return true;
			}
		});
	});
</script>

