<!-- step 3 -->

<div id="steps-header">
	<ul class="inline-links form-steps">
		<li id="learn-more">
			<img src="{{PATH}}images/webcam_one.png"/>
		</li><li class="back-line">
		</li><li id="get-involved">
			<img src="{{PATH}}images/pen_two.png"/>			
		</li><li class="back-line">
		</li><li class="active" id="join-us">
			<a class="info" data-target="#directions-container">Directions</a>
			<img src="{{PATH}}images/share_three.png"/>
		</li>
	</ul>
</div>

<div id="watch-area">
</div>

<div id="quote-area">
</div>

<div id="main-area">
	<p class="error-message">{{ERROR_MESSAGE}}</p>
	{{FORM}}
</div>

<div class="modal-overlay-container" id="directions-container">
	<div class="modal-overlay-pane" id="modal-directions">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<h1>How to Spread the Word</h1>
		<ul class="inline-links form-steps">
			<li>
				<img src="{{PATH}}images/webcam_one.png"/>
				<h4>Create a video</h4>
			</li>
			<li>
				<img src="{{PATH}}images/pen_two.png"/>
				<h4>Write a message</h4>
			</li>
			<li class="active">
				<img src="{{PATH}}images/share_three.png"/>
				<h4>Share</h4>
			</li>
		</ul>
		
		<p class="error-message">{{ERROR_MESSAGE}}</p>

		<div id="directions-box">
			<h2>Directions</h2>
			<img id="directions-marker" src="{{PATH}}images/share_three_35.png"/>
			<div id="directions">
				<p>Invite friends to view your video. You can post to your facebook feed, send private messages across facebook, and send email messages to contacts by clicking the appropriate checkbox.</p>
				<p>This page includes a basic message that will be sent to your contacts. You can edit this message.</p>
				<p>The text <strong>{{MY_FRIENDs_NAME}}</strong> will be replaced by the friend who receives message.</p>
				<p>The text <strong>{{MY_VIDEO_LINK}}</strong> will by replaced by the link to your video. <strong>Do not delete this text</strong>, or your contacts won't be able to find your video.</p>
			</div>
			<img src="{{PATH}}images/multifriend.png" />
		</div>
		<button id="close-button-bottom" class="modal-close-window">Close this Window</button>
	</div>
</div>

<input id="user-video-link" type="hidden" value="{{USER_VIDEO_LINK}}" />
<input id="user-name" type="hidden" value="{{USER_NAME}}" />

<!-- Auto Replace and Hidden Land - this HTML will be redirected via javascript -->

<div class="auto-replace" id="contact-holder">
	<div class="contact-tag">Contact Method</div>
	<div id="contact-type-selection">
		<div class="contact-type"><input id="facebook-feed" type="checkbox" name="facebook-feed"/><label for="facebook-feed">Post to your Facebook Feed</label></div>
		<div class="contact-type"><input id="facebook-private" type="checkbox" name="facebook-private"/><label for="facebook-private">Send Private Facebook Messages</label></div>
		<div id="email-holder" class="contact-type"><!-- shoot in form member from form --></div>
	</div>
</div>

<div id="social-message" class="auto-replace" style="display: none">Hey {{MY_FRIENDS_NAME}},

Checkout the video I made for you and the links below as I think you'd be interested in Open Source Ecology.
{{MY_VIDEO_LINK}}
</div>

<div id="fb-root"></div>
<div id="facebook-post-modal" class="modal-overlay-container">
	<br /><br /><br />
	<span id="fb-post-status">Submitting messages...</span>
</div>

<button id="revokeAuth" type="button" onclick="uninstallApp()">Revoke/Uninstall</button>
<button id="logout" type="button" onclick="logout()">Logout</button>

<div id="email-modal" class="modal-overlay-container">
	<div id="email-list-modal" class="modal-overlay-pane">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<h3>Enter Email Addresses</h3>
		<div id="email-input-container">
			<div class="email-list-combo">
				<div class="email-input-cluster">
					<div class="mw-label">
						<label>Name</label>
					</div>
					<div class="mw-input">
						<input class="email-names" type="text" />
					</div>
				</div>
				<div class="email-input-cluster">
					<div class="mw-label">
						<label for="ose-truefan-email-input">Email</label>
					</div>
					<div class="mw-input">
						<input class="email-addresses" type="text" name="wpEmailInput[]"/>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<button id="email-list-ok" class="modal-close-window inline-button" type="button">Ok</button>
		<button id="email-list-clear" class="modal-close-window negative-action inline-button" type="button">Clear</button>
	</div>
</div>

<script>
	// These two json objects take content from first selector and put it in second; see dynamic.js
	var autoReplaceArray = {
		"#contact-holder":"#mw-form-section-contact-area"
	}
	var autoInputArray = {
		"#social-message":"#ose-truefan-friends-message"
	}

	var havePostedToFeed = false;
	var havePostedPrivateMessages = false;

	// FIXME: for tags are incorrect
	var email_inputs = '<div class="email-list-combo">'+
							'<div class="email-input-cluster">'+
								'<div class="mw-label">'+
									'<label>Name</label>'+
								'</div>'+
								'<div class="mw-input">'+
									'<input class="email-names" type="text" />'+
								'</div>'+
							'</div>'+
							'<div class="email-input-cluster">'+
								'<div class="mw-label">'+
									'<label for="ose-truefan-email-input">Email</label>'+
								'</div>'+
								'<div class="mw-input">'+
									'<input class="email-addresses" type="text" name="wpEmailInput[]"/>'+
								'</div>'+
							'</div>'+
						'</div>';
	
	$j(document).ready(function() {
		$j('#bodyContent').css('min-height', $j(window).height() -250);

		$j('#ose-truefan-email-check').parent().appendTo('#email-holder');

		$j('.mw-htmlform-field-HTMLTextArray').empty();
		$j('#email-modal').appendTo('.mw-htmlform-field-HTMLTextArray');
		$j('.email-addresses').keyup(addEmailInput);
		$j('#email-list-clear').click(function(){
			$j('#email-input-container').empty();
			dummyEvent = {'value':'q'};
			addEmailInput(dummyEvent);
			$j('#ose-truefan-email-check').removeAttr('checked');	
			$j('#share-email-preview').empty();
		});
		$j('#email-list-ok').click(function(){
			console.log('processEmail')
			var addresses = new Array();
			// TODO: Remove empty email inputs
			$j('#share-email-preview').empty('');
			$j('#email-input-container .email-list-combo').each( function(index) {
				var name = $j(this).find('.email-names').val();
				var address = $j(this).find('.email-addresses').val();
				if(address != '') {
					addresses.push(name + ':<' + address + '>');
				}
			});
			$j('input[name=wpEmailList]').val(addresses.join(','));
		
			if(addresses.length > 0) {
				var html = '<ul>\n';
				for(var i=0; i<addresses.length; i++) {
					addresses[i] = addresses[i].replace('<','&lt');
					addresses[i] = addresses[i].replace('>','&gt');
					addresses[i] = addresses[i].replace(':',' ');
					html += '<li class="email-preview-item"><img src="/w/extensions/ShareOSE/images/email_sm.png" /><span class="preview-address">'+addresses[i]+'</span></li>';
				}
				//$j('#share-email-preview').html(html);
			}
		});
		
		function addEmailInput(e)
		{
			// Any input that contains value creates a single new input, and pays the process forward
			if(this.value != '') {
				$j(this).unbind('keyup');
				$j('#email-input-container').append(email_inputs);
				$j('#trueFanForm .email-input-cluster input:last').keyup(addEmailInput);
			}
		}

		$j('.contact-type input').click(function(){
			if($j(this).is(':checked')){
				console.log('Input: ' + $j(this).attr('id') + ' is active.' );
				if($j(this).attr('id') == 'ose-truefan-email-check') {
					$j('#email-modal').css('visibility', 'visible');
				}
			}
		});
		
		// change the name os submit button to create correct submit behavior for jQuery
		$j('.mw-htmlform-submit').attr('name','submittens');
		$j('#trueFanForm').submit(function(e) {
			$j('#facebook-post-modal').css('visibility','visible');
			if($j('#facebook-feed').is(':checked') && !havePostedToFeed){
				$j('#fb-post-status').html('Posting to facebook feed...');
				postToMyFeed();
				return false;	
			} else if($j('#facebook-private').is(':checked') && !havePostedPrivateMessages){
				$j('#fb-post-status').html('Choose friends to message...');
				var userLink = $j('#user-video-link').val();
				console.log(userLink);
				var userName = $j('#user-name').val();
		   		FB.ui({
		        	method: 'send',
		        	name: userName + ' - OSE True Fan Story',
		        	link: userLink,
					picture: 'http://www.wordpages.org/facebook/lib/ose-logo.png',
					description: 'OSE True Fan Story',
		        }, 
				function(response){
					if (response && response.post_id){
						$j('#fb-post-status').html('Private messages successfully sent to facebook.');
						console.log('post was teh success');
					} else {
						$j('#fb-post-status').html('Unable to send private facebook messages.');
						console.log('did not post private messages');
						console.log(response);
						console.log(response.post_id);
					}
					havePostedPrivateMessages = true;
					//$j('#trueFanForm').submit();
				});
				return false;	
			} else {
				return true;
			}
		});
	});
</script>

