<div id="quote-area">
	<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="LW3QK7UZWFZ2Y">
	<table>
		<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select class="serious-button" name="os0">
			<option value="Standard">Standard : $10.00 USD - monthly</option>
			<option value="Gold">Gold : $20.00 USD - monthly</option>
			<option value="Gold Extra">Gold Extra : $30.00 USD - monthly</option>
			<option value="Platinum">Platinum : $50.00 USD - monthly</option>
			<option value="Angel">Angel : $100.00 USD - monthly</option>
		</select> </td></tr>
	</table>
	<input type="hidden" name="currency_code" value="USD">
	<input type="submit" id="paypal-submit" class="serious-button" name="submit" value="Subscribe">
	<!-- <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"> -->
	</form>
</div>

<div id="main-area">
	<iframe src="http://player.vimeo.com/video/14161032?badge=0" width="500" height="291" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>True Fans: As a project working for the common good, we rely on a growing group of crowd-funders called True Fans to keep our mission alive. The True Fans program is a monthly donation with options for $10, $20, $30, $50, and $100 per month for 24 months. </p>
	
</div>

