<!-- step 1 -->

<div id="steps-header">
	<ul class="inline-links form-steps">
		<li class="active">
			<a class="info" data-target="#directions-container">Directions</a>
			<img src="{{PATH}}images/webcam_one.png"/>
		</li><li class="back-line">
		</li><li>
			<img src="{{PATH}}images/pen_two.png"/>
		</li><li class="back-line">
		</li><li>
			<img src="{{PATH}}images/share_three.png"/>
		</li>
	</ul>
</div>

<div id="watch-area">
</div>

<div id="quote-area">
	<img class="gear" src="{{PATH}}images/gear.png" />
</div>

<div id="main-area">

	<div id="video-overlay-container">
		<div id="status"><div id="status-text"></div></div>
		<div id="video-viewer"></div>
	</div>


	<div class="center50">
		<p class="error-message">{{ERROR_MESSAGE}}</p>
		{{FORM}}
	</div>
</div>

<div class="modal-overlay-container" id="directions-container">
	<div class="modal-overlay-pane" id="modal-directions">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<h1>How to Spread the Word</h1>
		<ul class="inline-links form-steps">
			<li class="active">
				<img src="{{PATH}}images/webcam_one.png"/>
				<h4>Create a video</h4>
			</li>
			<li>
				<img src="{{PATH}}images/pen_two.png"/>
				<h4>Write a message</h4>
			</li>
			<li>
				<img src="{{PATH}}images/share_three.png"/>
				<h4>Share</h4>
			</li>
		</ul>

		<p class="error-message">{{ERROR_MESSAGE}}</p>

		<div id="directions-box">
			<h2>Directions</h2>
			<img id="directions-marker" src="{{PATH}}images/webcam_one_35.png"/>
			<div id="directions">
				<p>We want to know why you support Open Source Ecology so we're inviting you to create a short 1-2 minute video to tell your friends and everyone else about our work.</p>
				<p><strong>There are two ways to create videos:</strong></p>
				<h4>1. Record via Webcam</h4>
				<p>Using a <strong>webcam</strong> and a <strong>Youtube</strong> account, you can create a video right now on this page. You <strong>must</strong> have webcam and a Youtube account to record on this page. The video you create will be uploaded to your personal Youtube account as a public video and added to the True Fans video database.</p>
				<p>Before recording, you should think about what you are going to say.</p>
				<h4>2. Manually Link from Existing Video</h4>
				<p>If you already have a video uploaded to Youtube, you can add it to this page by manually inputting the url.</p>
				<p>The privacy on the video must be set to <strong>public</strong> or <strong>unlisted</strong>. Please <strong>do not set the video to private</strong> because no one else will be able to view it.</p>
			</div>
		</div>
		<button id="close-button-bottom" class="modal-close-window">Close this Window</button>
	</div>
</div>

<div class="modal-overlay-container" id="error-container">
	<div class="modal-overlay-pane" id="modal-error">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<p id="modal-error-message"></p>
	</div>
</div>

<script>
	$j(document).ready(function() {
		// Only display Name input when the user clicks the edit-tag
		$j('#ose-truefan-name').parent().parent().css('display', 'none'); //TODO: jQuery.closest() ? 
		var name = $j('#ose-truefan-name').val();
		$j('#mw-form-section-upload').prepend(
			'<div id="show-ose-truefan-name">'+
				'<div class="modal-overlay-container" id="blurb-popup">'+
					'<div class="modal-overlay-pane">'+
						'<div id="video-author-label">Display Name</div>'+
					'</div>'+
				'</div>'+
				'<div><span id="video-author">'+name+'</span><span class="edit-tag" onclick="showEdit(\'ose-truefan-name\')">edit</span>'+
			'</div></div>');

		// Only display the Video Url input when the user clicks edit-tag
		$j('#ose-truefan-url').parent().parent().css('display','none');
		$j('#mw-form-section-upload').append('<div id="show-ose-truefan-url"><span class="edit-tag" onclick="showEdit(\'ose-truefan-url\')">Manually input video url.</span></div>');
	});

	function showEdit(element){
		$j('#show-' + element).remove();
		$j('#' + element).parent().parent().css('display', 'block');
	}
</script>