<div id="watch-area">
	<div id="playlist-container">
		<h3>Playlist</h3>
		<ul id="playlist" class="no-bullets">
			<li>{{USER_NAME}}'s Video<span class="hidden">{{USER_VIDEO_ID}}</span></li>
			<li>Marcin's Ted Talk<span class="hidden">zIsHKrP-66s</span></li>
			<li>Bioneers East<span class="hidden">MIIzogiUHFY</span></li>
			<li>OSEmail<span class="hidden">ubTNQV8oXVM</span></li>
			<li>Enterprise Plan<span class="hidden">wbqC8zm7Hyg</span></li>
		</ul>
	</div>
	<a href="{{BASE_URL}}?page=submit" class="green-button">Edit Video Information</a>
</div>

<div id="quote-area">
	<h3>{{USER_NAME}}</h3>
	<p>{{USER_MESSAGE}}</p>
</div>

<div id="main-area">
	<div id="video-viewer"></div>
	<ul id="action-links" class="inline-links">
		<li id="learn-more">
			<img src="{{PATH}}images/learn_more.png"/>
			<a href="http://opensourceecology.org/wiki/About">Learn More</a>
		</li>
		<li id="get-involved">
			<img src="{{PATH}}images/get_involved.png"/>
			<a href="http://opensourceecology.org/wiki/Main_Page">Get Involved</a>
		</li>
		<li id="join-us">
			<img src="{{PATH}}images/join_us.png"/>
			<a href="http://opensourceecology.org/join.php">Join Us</a>
		</li>
	</ul>
</div>

<script>
	$j(document).ready(function() {
		// Hack to add subtitle because we can't access of change title or a MediaWiki page
		var userName = $j('#quote-area h3').html();
		$j('#firstHeading').append(' - ' + userName);

	});
</script>