<div id="watch-area">
	<div id="playlist-container">
		<h3>Playlist</h3>
		<!-- Add span as title, name, quote, id and jet over to correct spot upon clicking -->
		<ul id="playlist" class="no-bullets">
			<li>Marcin's Ted Talk<span class="hidden">zIsHKrP-66s</span></li>
			<li>Bioneers East<span class="hidden">MIIzogiUHFY</span></li>
			<li>OSEmail<span class="hidden">ubTNQV8oXVM</span></li>
			<li>Enterprise Plan<span class="hidden">wbqC8zm7Hyg</span></li>
		</ul>
	</div>
	<a href="{{BASE_URL}}?page=submit" class="green-button">Create True Fan Video</a>
	<a href="{{BASE_URL}}?page=myprofile" class="green-button">My Video</a>
</div>

<div id="quote-area">
	<h3>Best Video 1 User</h3>
	<p>&quot Me and a crowd of people are putting down a month for the next 2 years to fund the creation of 50 open source machines that make up the world’s first global village construction set. It’s part of creating a new economic model for living sustainably on planet earth and if you want to be a part of changing history, check it out and consider getting on board for the cost of skipping a latte or two every month. You even get your name in the credits. &quot</p>
</div>

<div id="main-area">
	<div id="video-viewer"></div>
	<!--<iframe id="video-viewer" src="http://www.youtube.com/embed/{{USER_VIDEO_ID}}">Holy cats your browser doesn't support teh iframes.</iframe>-->
	<ul id="action-links" class="inline-links">
		<li id="learn-more">
			<img src="{{PATH}}/images/learn_more.png"/>
			<a href="http://opensourceecology.org/wiki/About">Learn More</a>
		</li>
		<li id="get-involved">
			<img src="{{PATH}}/images/get_involved.png"/>
			<a href="http://opensourceecology.org/wiki/Main_Page">Get Involved</a>
		</li>
		<li id="join-us">
			<img src="{{PATH}}/images/join_us.png"/>
			<a href="http://opensourceecology.org/join.php">Join Us</a>
		</li>
	</ul>
</div>
