<!-- step 2 -->

<div id="steps-header">
	<ul class="inline-links form-steps">
		<li id="learn-more">
			<img src="{{PATH}}images/webcam_one.png"/>
		</li><li class="back-line">
		</li><li class="active" id="get-involved">
			<img src="{{PATH}}images/pen_two.png"/>
			<a class="info" onclick="$j('#modal-overlay').css('visibility','visible')">Directions</a>
		</li><li class="back-line">
		</li><li id="join-us">
			<img src="{{PATH}}images/share_three.png"/>
		</li>
	</ul>
</div>

<div id="watch-area">
</div>

<div id="quote-area">
	<p>This is the quote space and its text should be automagically updated as you type into the form area.</p>
</div>

<div id="main-area">

	<iframe id="yt-iframe" src="http://www.youtube.com/embed/{{USER_VIDEO_ID}}">Holy cats your browser doesn't support teh iframes.</iframe>

	{{FORM}}

</div>

<div id="modal-overlay">
	<div id="modal-directions">
		<img id="close-button" src="{{PATH}}images/close_button.png" onclick="$j('#modal-overlay').css('visibility','hidden');" />
		<h1>Create a True Fan Profile</h1>
		<ul class="inline-links form-steps">
			<li id="learn-more">
				<img src="{{PATH}}images/webcam_one.png"/>
				<h4>Create a video</h4>
			</li>
			<li class="active" id="get-involved">
				<img src="{{PATH}}images/pen_two.png"/>
				<h4>Write a message</h4>
			</li>
			<li id="join-us">
				<img src="{{PATH}}images/share_three.png"/>
				<h4>Share</h4>
			</li>
		</ul>

		<div id="directions-box">
			<h2>Directions</h2>
			<img id="directions-marker" src="{{PATH}}images/pen_two.png"/>
			<div id="directions">
				<p>Every video is displayed with a message next to it. This is an oppurtunity to summarize the content of your video.</p>
				<p>If you need some help writing your message, you can have an automatic message added to your video.</p>
			</div>
		</div>
	</div>
</div>