<!-- step 2 -->

<div id="steps-header">
	<ul class="inline-links form-steps">
		<li id="learn-more">
			<img src="{{PATH}}images/webcam_one.png"/>
		</li><li class="back-line">
		</li><li class="active" id="get-involved">
			<img src="{{PATH}}images/pen_two.png"/>
			<a class="info" onclick="$j('#modal-overlay').css('visibility','visible')">Directions</a>
		</li><li class="back-line">
		</li><li id="join-us">
			<img src="{{PATH}}images/share_three.png"/>
		</li>
	</ul>

	<p class="error-message">{{ERROR_MESSAGE}}</p>

	<div class="center50">
		{{FORM}}
		<h2 class="ta-center">Preview</h2>
	</div>

</div>

<div id="watch-area">
</div>

<div id="quote-area">
	<p>Message Preview</p>
</div>

<div id="main-area">

	<iframe id="yt-iframe" src="http://www.youtube.com/embed/{{USER_VIDEO_ID}}">Holy cats your browser doesn't support teh iframes.</iframe>


</div>

<div id="modal-overlay">
	<div id="modal-directions">
		<img id="close-button" src="{{PATH}}images/close_button.png" onclick="$j('#modal-overlay').css('visibility','hidden');" />
		<h1>How to Spread the Word</h1>
		<ul class="inline-links form-steps">
			<li id="learn-more">
				<img src="{{PATH}}images/webcam_one.png"/>
				<h4>Create a video</h4>
			</li>
			<li class="active" id="get-involved">
				<img src="{{PATH}}images/pen_two.png"/>
				<h4>Write a message</h4>
			</li>
			<li id="join-us">
				<img src="{{PATH}}images/share_three.png"/>
				<h4>Share</h4>
			</li>
		</ul>

		<p class="error-message">{{ERROR_MESSAGE}}</p>

		<div id="directions-box">
			<h2>Directions</h2>
			<img id="directions-marker" src="{{PATH}}images/pen_two.png"/>
			<div id="directions">
				<p>Every video is displayed with a message next to it. This is an oppurtunity to summarize your reason for supporting OSE.</p>
				<p class="gray">If you need some help writing your message, you can have an automatic message added to your video.</p>
			</div>
		</div>
		<button id="close-button-bottom" class="tf-button" onclick="$j('#modal-overlay').css('visibility','hidden');">Write Your Message</button>
	</div>
</div>