<!-- step 2 -->

<div id="steps-header">
	<ul class="inline-links form-steps">
		<li>
			<img src="{{PATH}}images/webcam_one.png"/>
		</li><li class="back-line">
		</li><li class="active">
			<img src="{{PATH}}images/pen_two.png"/>
			<a class="info" data-target="#directions-container">Directions</a>
		</li><li class="back-line">
		</li><li>
			<img src="{{PATH}}images/share_three.png"/>
		</li>
	</ul>

	<p class="error-message">{{ERROR_MESSAGE}}</p>

	<div class="center50">
		{{FORM}}
		<h2 class="ta-center">Preview</h2>
	</div>

</div>

<div id="watch-area">
</div>

<div id="quote-area">
	<h3>{{USER_NAME}}</h3>
	<p>*** Message Preview ***</p>
</div>

<div id="main-area">

	<iframe id="video-viewer" src="http://www.youtube.com/embed/{{USER_VIDEO_ID}}">Holy cats your browser doesn't support teh iframes.</iframe>

</div>

<div class="modal-overlay-container" id="directions-container">
	<div class="modal-overlay-pane" id="modal-directions">
		<img class="modal-close-button" src="{{PATH}}images/close_button.png"/>
		<h1>How to Spread the Word</h1>
		<ul class="inline-links form-steps">
			<li>
				<img src="{{PATH}}images/webcam_one.png"/>
				<h4>Create a video</h4>
			</li>
			<li class="active">
				<img src="{{PATH}}images/pen_two.png"/>
				<h4>Write a message</h4>
			</li>
			<li>
				<img src="{{PATH}}images/share_three.png"/>
				<h4>Share</h4>
			</li>
		</ul>

		<p class="error-message">{{ERROR_MESSAGE}}</p>

		<div id="directions-box">
			<h2>Directions</h2>
			<img id="directions-marker" src="{{PATH}}images/pen_two_35.png"/>
			<div id="directions">
				<p>You can write a public message that will be displayed next to your video (which is previewed below the input box). This can be a short quotation, summary, or personal statement that adds context to your video. You may also leave it blank.</p>
			</div>
		</div>
		<button id="close-button-bottom" class="modal-close-window">Close this Window</button>
	</div>
</div>